*{
	margin: 0;
	padding: 0;
}
body { background-color: slategrey; }
a{
  color: slategrey;
}
a:hover {
  color: red;
}

#container{
	width: 80%;
	min-height: 800px;
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
}
h2 {
	text-align: center;
	background-color: slategrey;
  border-radius: 20px 0 20px 0;
}
.tabla{
	width: 90%;
	margin: auto;
 	padding: 10px;
  	border: 2px solid slategrey;
  	border-radius: 10px;
}
/* button {
	float: right;
	text-align: center; 
}*/
a #actualiza {
  float: right;
  width: 80px;
  height: 80px;
  text-align: center;
}
a #actualiza i {font-size: 24px;}

button #enviar {
	float: left;
}